@keyframes loader{
    0%{
        background-color:#fff
    }
    100%{
        background-color:rgba(255,255,255,.1)
    }
}
body,html{
    height:100%
}
.skip-link{
    position:absolute;
    top:-50px;
    left:0;
    background:#000;
    color:#fff;
    padding:8px;
    z-index:100
}
.skip-link:focus{
    top:0
}
#app{
    background:var(--background-image,var(--background-gradient,var(--background-color)));
    min-height:100vh
}
#app #ellaCurve{
    display:none
}
#app #main .main-content{
    z-index:1
}
#app #main .main-content .socials{
    display:inline-flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:0 auto;
    padding:0
}
#app #main .main-content .socials .social{
    display:block;
    height:40px;
    width:40px
}
#app #main .main-content .socials .social.email{
    background:url(data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12.875%2012H27.875C28.9063%2012%2029.75%2012.8437%2029.75%2013.875V25.125C29.75%2026.1563%2028.9063%2027%2027.875%2027H12.875C11.8437%2027%2011%2026.1563%2011%2025.125V13.875C11%2012.8437%2011.8437%2012%2012.875%2012Z%22%20stroke%3D%22%231B1B1B%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M29.75%2013.875L20.375%2020.4375L11%2013.875%22%20stroke%3D%22%231B1B1B%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat center
}
#app #main .main-content .socials .social.github{
    background:url(http://danielbernal.co/images/github-mark.png) no-repeat center
}
#app #main .main-content .socials .social.linkedin{
    background:url(data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M12.3354%2010.0007C12.0314%209.99333%2011.729%2010.0469%2011.446%2010.1581C11.163%2010.2694%2010.9051%2010.4362%2010.6875%2010.6486C10.4699%2010.861%2010.297%2011.1148%2010.1789%2011.395C10.0608%2011.6753%2010%2011.9763%2010%2012.2804C10%2012.5845%2010.0608%2012.8855%2010.1789%2013.1658C10.297%2013.446%2010.4699%2013.6998%2010.6875%2013.9122C10.9051%2014.1246%2011.163%2014.2914%2011.446%2014.4027C11.729%2014.5139%2012.0314%2014.5675%2012.3354%2014.5601C12.9305%2014.5458%2013.4964%2014.2993%2013.9122%2013.8733C14.328%2013.4474%2014.5608%2012.8757%2014.5608%2012.2804C14.5608%2011.6851%2014.328%2011.1134%2013.9122%2010.6875C13.4964%2010.2615%2012.9305%2010.015%2012.3354%2010.0007ZM24.3145%2016.0526C22.4135%2016.0526%2021.1493%2017.0939%2020.6266%2018.0836H20.543V16.3431H16.8113V28.9457H20.7088V22.7266C20.7088%2021.0843%2021.0352%2019.4937%2023.0715%2019.4937C25.0773%2019.4937%2025.1038%2021.3483%2025.1038%2022.8102V28.9457H29V22.0222C29%2018.6341%2028.2783%2016.0526%2024.3145%2016.0526ZM10.4278%2016.3431V28.9457H14.3664V16.3431H10.4278Z%22%20fill%3D%22%231B1B1B%22%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat center
}
#app #main .main-content .socials .social.twitter{
    background:url(data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M17.1614%2028C24.5548%2028%2028.5987%2021.8438%2028.5987%2016.5052C28.5987%2016.3304%2028.5987%2016.1563%2028.587%2015.983C29.3737%2015.4112%2030.0528%2014.703%2030.5925%2013.8919C29.8588%2014.2186%2029.0806%2014.4328%2028.2837%2014.5275C29.1228%2014.0226%2029.7509%2013.2285%2030.0509%2012.293C29.2619%2012.7636%2028.3986%2013.0952%2027.4984%2013.2736C26.2524%2011.942%2024.2725%2011.6161%2022.6689%2012.4786C21.0653%2013.3411%2020.2369%2015.1776%2020.6481%2016.9581C17.4161%2016.7953%2014.4048%2015.261%2012.3636%2012.7372C11.2967%2014.5831%2011.8417%2016.9446%2013.6081%2018.1301C12.9684%2018.1111%2012.3427%2017.9377%2011.7837%2017.6245C11.7837%2017.641%2011.7837%2017.6583%2011.7837%2017.6757C11.7842%2019.5988%2013.133%2021.2551%2015.0086%2021.6359C14.4168%2021.7981%2013.7959%2021.8218%2013.1936%2021.7052C13.7202%2023.3509%2015.2293%2024.4783%2016.949%2024.5108C15.5256%2025.6351%2013.7673%2026.2454%2011.9569%2026.2436C11.6371%2026.243%2011.3176%2026.2235%2011%2026.1853C12.8383%2027.3709%2014.9772%2027.9998%2017.1614%2027.9969%22%20fill%3D%22%231B1B1B%22%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat center
}
section{
    margin:21px auto;
    max-width:485px;
    padding:0 25px
}
.links .link{
    display:flex;
    flex-direction:row;
    align-items:stretch;
    box-sizing:border-box;
    position:relative
}
.links .link .link-text{
    display:flex;
    align-items:center
}
@keyframes loadingShimmer{
    0%{
        background-position:-468px 0
    }
    100%{
        background-position:468px 0
    }
}
@keyframes slideUp{
    0%{
        top:100%
    }
    100%{
        top:0
    }
}
@keyframes slideDown{
    0%{
        top:0
    }
    100%{
        top:100%
    }
}
:lang(en) .ella{
    font-family:sans-serif
}
:lang(lt) .ella{
    font-family:sans-serif
}
:lang(ar) .ella{
    font-family:sans-serif
}
:lang(ru) .ella{
    font-family:,sans-serif
}
.ella{
    font-weight:700;
    font-smooth:always;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:auto;
    margin:0;
    padding:0
}
@keyframes ella-animate-cover-photo{
    0%{
        padding-bottom:100px;
        transform:scale(2);
        animation-timing-function:ease-out
    }
    100%{
        padding-bottom:0;
        transform:scale(1)
    }
}
@keyframes ella-animate-profile-photo{
    0%{
        transform:scale(0)
    }
    80%{
        transform:scale(1.1);
        animation-timing-function:ease-out
    }
    100%{
        transform:scale(1)
    }
}
@keyframes ella-animate-name{
    0%{
        transform:translateY(100%)
    }
    100%{
        transform:translateY(0)
    }
}
@keyframes ella-animate-social{
    0%{
        transform:scale(0)
    }
    95%{
        transform:scale(1.1)
    }
    100%{
        transform:scale(1)
    }
}
@keyframes ella-animate-link{
    0%{
        top:60px;
        transform:scale(0)
    }
    100%{
        top:0;
        transform:scale(1)
    }
}
@keyframes ella-animate-watermark{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@media (prefers-reduced-motion:reduce){
    .ella *{
        animation:none!important
    }
}
.ella a{
    color:#000;
    text-decoration:none
}
.ella a.colored{
    color:#123774;
    text-decoration:underline
}
.ella img{
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden
}
.ella #app{
    display:flex;
    flex-direction:column;
    overflow-x:hidden;
    position:relative;
    z-index:1
}
.ella #app #ellaCurve{
    display:block
}
.ella #app .centered-content{
    margin:0 auto;
    max-width:991px
}
.ella #app .cover-photo-wrapper{
    clip-path:url(http://danielbernal.co/css/http://danielbernal.co/css/#myCurve);
    -webkit-clip-path:url(#myCurve);
    z-index:1
}
@media (min-width:991px){
    .ella #app .cover-photo-wrapper{
        clip-path:none;
        -webkit-clip-path:none
    }
}
.ella #app .cover-photo-wrapper .cover-photo-blurred-wrapper{
    height:174px;
    left:0;
    overflow:hidden;
    position:absolute;
    width:100%
}
.ella #app .cover-photo-wrapper .cover-photo-blurred-wrapper .cover-photo-blurred{
    display:none;
    height:195px;
    margin-left:-5%;
    margin-top:-10px;
    object-fit:cover;
    width:110%
}
@media (min-width:991px){
    .ella #app .cover-photo-wrapper .cover-photo-blurred-wrapper .cover-photo-blurred{
        display:block;
        /*filter:blur(8px)*/
    }
}
.ella #app .cover-photo-wrapper .cover-photo{
    animation:ella-animate-cover-photo 1s ease-in-out backwards;
    height:160px;
    position:relative
}
@media (min-width:991px){
    .ella #app .cover-photo-wrapper .cover-photo{
        animation:none;
        height:174px
    }
}
.ella #app .cover-photo-wrapper .cover-photo img{
    object-fit:cover;
    width:170%
}
.ella #app #main{
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content:space-between;
    margin-left:-15%;
    padding:0 15%;
    position:relative;
    text-align:center;
    width:100%;
    z-index:10
}
@media (min-width:991px){
    .ella #app #main{
        animation:none;
        border-radius:0;
        margin:0 auto;
        padding:0;
        width:100%
    }
}
.ella #app #main .main-content{
    margin:0 auto;
    width:100%;
    z-index:1
}
.ella #app #main .profile-wrapper{
    animation:ella-animate-profile-wrapper .75s ease-out backwards
}
@media (min-width:991px){
    .ella #app #main .profile-wrapper{
        animation:none
    }
}
.ella #app #main .profile-wrapper .picture-wrapper{
    background:linear-gradient(180deg,var(--background-color) 0,var(--background-color) 53%,transparent 53%);
    display:inline-flex;
    border-radius:50%;
    align-items:center;
    justify-content:center;
    background-color:transparent;
    margin-top:-90px;
    width:132px;
    height:132px
}
@media (min-width:991px){
    .ella #app #main .profile-wrapper .picture-wrapper{
        margin-top:-66px
    }
}
.ella #app #main .profile-wrapper .picture-wrapper .picture{
    animation:ella-animate-profile-photo .8s .2s backwards;
    display:inline-flex;
    border-radius:50%;
    border:6px solid #fff;
    box-shadow:0 2px 15px rgba(0,0,0,.12);
    overflow:hidden;
    z-index:10
}
.ella #app #main .profile-wrapper .picture-wrapper .picture img{
    object-fit:cover
}
.ella #app #main .profile-wrapper .name-bio-wrapper{
    box-sizing:border-box;
    width:100%;
    max-width:600px;
    padding:8px 32px;
    margin:0 auto;
    overflow-wrap:break-word
}
.ella #app #main .profile-wrapper .name-bio-wrapper .bio,.ella #app #main .profile-wrapper .name-bio-wrapper .name{
    overflow:hidden
}
.ella #app #main .profile-wrapper .name-bio-wrapper .name{
    font-size:28px;
    line-height:34px
}
.ella #app #main .profile-wrapper .name-bio-wrapper .bio{
    line-height:18px;
    font-size:11px;
    letter-spacing:.5px;
    margin-top:6px;
    text-transform:uppercase
}
.ella #app #main .profile-wrapper .name-bio-wrapper .content{
    animation:ella-animate-name .3s .5s backwards;
    overflow:hidden
}
.ella #app #main section:not(.socials){
    --animation-timing:calc(var(--animation-delay) / 5);
    animation:ella-animate-link calc(var(--animation-timing) + .2s) .8s backwards
}
.ella #app #main .socials .social{
    animation:ella-animate-social .3s .7s backwards
}
.ella #app #main .links{
    position:relative
}
.ella #app #main .links .link{
    --animation-timing:calc(var(--animation-delay) / 5);
    animation:ella-animate-link calc(var(--animation-timing) + .4s) .8s backwards;
    background-color:#fff;
    border-radius:2px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    font-size:14px;
    justify-content:center;
    line-height:18px;
    margin:16px 0;
    min-height:64px;
    padding:4px;
    border-radius:15px
}
.ella #app #main .links .link img{
    object-fit:cover;
    border-radius:2px;
    margin-right:8px;
    width:20x;
    height:20px;
    flex-shrink:0;
    display:block
}
@keyframes quinn-animate-cover-photo{
    0%{
        height:0;
        animation-timing-function:ease-out
    }
    100%{
        height:280px
    }
}
@keyframes quinn-animate-profile-photo{
    0%{
        transform:scale(3)
    }
    100%{
        transform:scale(1)
    }
}
@keyframes quinn-animate-name{
    0%{
        transform:translateY(100%)
    }
    100%{
        transform:translateY(0)
    }
}
@keyframes quinn-animate-social{
    0%{
        transform:scale(0)
    }
    95%{
        transform:scale(1.1)
    }
    100%{
        transform:scale(1)
    }
}
@keyframes quinn-animate-link{
    0%{
        top:60px;
        transform:scale(0)
    }
    100%{
        top:0;
        transform:scale(1)
    }
}
@keyframes quinn-animate-watermark{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@keyframes sandro-animate-cover-photo{
    0%{
        height:0
    }
    100%{
        height:420px
    }
}
@keyframes sandro-animate-profile-photo{
    0%{
        height:0
    }
    100%{
        height:348px
    }
}
@keyframes sandro-animate-name{
    0%{
        transform:translateY(-60px)
    }
    100%{
        transform:translateY(0)
    }
}
@keyframes sandro-scroll-name{
    0%{
        transform:translateX(0)
    }
    100%{
        transform:translateX(-100%)
    }
}
@keyframes sandro-animate-bio{
    0%{
        transform:translateY(100%)
    }
    100%{
        transform:translateY(0)
    }
}
@keyframes sandro-animate-social{
    0%{
        transform:scale(0)
    }
    95%{
        transform:scale(1.1)
    }
    100%{
        transform:scale(1)
    }
}
@keyframes sandro-animate-link{
    0%{
        transform:translateY(30px)
    }
    100%{
        transform:translateY(0)
    }
}
@keyframes sandro-animate-watermark{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@keyframes sofia-animate-cover-photo{
    0%{
        height:0;
        animation-timing-function:ease-out
    }
    100%{
        height:168px
    }
}
@keyframes sofia-animate-profile-photo{
    0%{
        transform:translateY(50px);
        visibility:hidden
    }
    100%{
        transform:translateY(0);
        visibility:visible
    }
}
@keyframes sofia-animate-profile-photo-mirrors{
    0%{
        transform:translateY(50px);
        visibility:hidden
    }
    100%{
        transform:translateY(0);
        visibility:visible
    }
}
@keyframes sofia-animate-name{
    0%{
        transform:translateY(100%)
    }
    100%{
        transform:translateY(0)
    }
}
@keyframes sofia-animate-social{
    0%{
        transform:scale(0)
    }
    95%{
        transform:scale(1.1)
    }
    100%{
        transform:scale(1)
    }
}
@keyframes sofia-animate-link{
    0%{
        top:60px;
        transform:scale(0)
    }
    100%{
        top:0;
        transform:scale(1)
    }
}
@keyframes sofia-animate-watermark{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
