---
---

//
// IMPORTS
//

@import "reset";
@import "open-color";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font;
  color: $base-color;
  line-height: $line-height;
}

.container {
  margin: 0 auto;
  max-width: 780px;
  padding: 0 10px;
  width: 100%;

  @include mobile {
    padding: 0 30px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $system;
  line-height: $header-line-height;
  font-weight: 600;
  padding: 0;
  @include mobile {
    line-height: $header-line-height-mobile;
  }
}

h3, h5, h6 {
  color: $darkGray;
}

h1 {
  font-size: 36px;
  padding-bottom: 20px;
  a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 32px;
  a {
    color: inherit;
    text-decoration: none;
  }
}

h3 { 
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 28px;
  vertical-align:middle;
}

h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 24px;
  color: $base-lighten-color;
}

h6 {
  color: $base-lighten-color;
}

p {
  color: $text-color;
  margin: 1.5em 0;
}

a {
  color: $link-color;
  text-decoration: underline;
  cursor: pointer;
  &:hover, &:active {
    color: $link-color;
  }
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

hr {
  border: 0;
  border-top: 1px solid $divider-color;
  margin: 1.5em auto;
}

// Yeun's list style
// https://gist.github.com/yeun/d824fc7b04b756508f4b0143535cec30

ol, ul {
  > li {
    font-weight: 350;
    &:before {
      position: absolute;
      width: $li-bullets-width;
      margin-left: -$li-bullets-width;
      display: inline-block;
      box-sizing: border-box;
      color: red;
      text-align: right;
    }
  }
}

ul {
  > li:before {
    content: "\2022";
    padding-right: $ul-bullets-right-space;
    font-family: $ul-bullets-font;
    font-size: $ul-bullets-font-size;
    line-height: $ul-bullets-font-line-height;
  }
}

ol {
  counter-reset: section;

  > li:before {
    counter-increment: section;
    content: counter(section) ".";
    padding-right: $ol-bullets-right-space;
    font-family: $ol-bullets-font;
    font-size: $ol-bullets-font-size;
    line-height: $ol-bullets-font-line-height;
  }
}

ol, ul {
  margin-bottom:$line-height;
  > li {
    margin: 0 auto $li-bottom-space $li-bullets-width;
    line-height: $li-line-height;

    > ol,
    > ul {
      margin-top: $li-bottom-space;
      margin-bottom: $li-bottom-space;
    }
  }
}

li {
  > ol,
  > ul {
    > li {
      font-size: ($li-child-size-ratio * 1em);
      margin: 0 auto ($li-bottom-space * $li-child-size-ratio) ($li-bullets-width * $li-child-size-ratio);
    }
  }
}

// Definition list
dt {
  float: left;
  width: $dt-width;
  overflow: auto;
  clear: left;
  text-align: right;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: $li-bottom-space;

  @include mobile {
    width: 120px;
  }
}

dd {
  margin-left: $dd-position;
  margin-bottom: $li-bottom-space;

  @include mobile {
    margin-left: 140px;
  }
}

// Table
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid $table-border-color;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $table-background-color;
}

// Blockquote
blockquote {
  font-weight: 400;
  padding: 0.1em 0.5em 1.2em 1.4rem;
  margin: 2em 2em 2em 0;
  border-left: .2em solid $blockquote-border-color;
  background: $blockquote-background-color;

  p {
    color: $blockquote-color;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// Footnote
a.footnote {
  &,
  .post p &,
  .post ol &,
  .post ul & {
    margin: 0 3px;
    padding: 0 2px;
    font-size: $small-font-size;
    text-align: center;
    border: 1px solid $footnote-link-border-color;
    border-radius: 2px;
    -webkit-text-stroke: 0.25px;
    -webkit-transition: 0.2s ease-out all;
    text-decoration: none;

    &:hover {
      background: $footnote-link-background-over-color;
    }
  }
}

.footnotes {
  border-top: 1px solid $divider-color;
  font-size: $small-font-size;
}

// Image
img {
  border-radius: 5px;  
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $selection-color;
  background: $selection-background-color;
}
::selection {
  color: $selection-color;
  background: $selection-background-color;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

// Alignment
.center {
  text-align: center;

  &-image {
    margin: 0 auto;
    display: block;
  }
}

.right {
  text-align: right
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 75px;
}

.masthead {
  padding: 0 0;
  border-bottom: 1px solid $lightGray;
  
  p {
    color: $gray;
    margin: 0;
    letter-spacing: 2px;
  }

  @include mobile {
    text-align: center;
  }

  img {
    width: 55px;
    height: 55px;
    border-radius: 55px;      
  }

}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin: 90px 15px 0 0;
  @include mobile {
    float: none;
    display: block;
    margin: 35px auto 0 auto;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 60px 0 0 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $system;
  font-size: 35px;
  letter-spacing: -1px;
}

.site-description {
  margin: -8px 0 0 0;
  color: $gray;
  font-size: 15px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  font-family: $helveticaNeue;
  font-size: 14px;
  margin-top: 120px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $gray;
    text-align: right;
    letter-spacing: 1px;
    text-decoration: none;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }

}

// Posts
.posts > .post {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid $divider-color;

  h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

}

.posts > .post:last-child {
  padding-bottom: 1em;
}

article {
  .metadata {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px;
  }

  img {
    max-width:100% !important;
  }
}

.entry {

  p {
    font-weight: $base-font-weight;
    color: $base-color;
    line-height: $line-height;
  }

  a {
    color: $blue;
  }

  .excerpt {

    .excerpt-image {
      height:225px;
      width:auto;

      @include mobile {
        height:120px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid #ccc;
      }
    }

    p {
      font-size: $regular-font-size;
      &:last-of-type:after {
        content: '...';
        margin-bottom:0;
      }
      &:first-of-type {

      }
    }


  }

  .read-more {
    
    a {
      font-size: $small-font-size;
      text-decoration: none;
      color: gray;
    }

  }

}
.post {

  margin: 2em 0 2em 0;
  
  h1 {
    margin-bottom: .1em;
  }

  .post-header-image {
    object-fit: contain;
    width: 100%;
    margin-bottom: 50px;
    margin-top:10px;
    height: 300px; 

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include mobile {
        object-fit: contain;
        height: auto;
      }
    }
  }

  .date {
    font-weight: $light-font-weight;
    color: $base-lighten-color;
    margin-right: 3px;
    font-size: $small-font-size;
    font-family: $lato;
  }

  .tag {
    display: inline;
    font-weight: $base-font-weight;
    font-size: $small-font-size;

    li:before {
      content: '';
    }

    li {
      display: inline;
      margin: 0;

      > a {
        margin: 3px 3px 3px 0;
        padding: .5px 4px;
        color: $tag-index-label-color;
        background-color: $tag-index-label-background-color;
        border-radius: 3px;
      }
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}

.pagination {
  font-weight: $base-font-weight;
  padding: 2em 0;
  width: 100%;
  display: inline-block;

  @include mobile {
    font-size: $small-font-size;
  }

  > .prev {
    width: 50%;
    a {
      color: $pagination-color;
      &:hover, &:focus {
        color: $pagination-over-color;
      }
    }
  }

  > .next {
    text-align: right;
    width: 50%;
    float:right;
    a {
      color: $pagination-color;
      &:hover, &:focus {
        color: $pagination-over-color;
      }
    }
  }
}

// Archive
.archive {
  a {
    color: $base-color;
  }
  time {
    color: $base-lighten-color;
    font-size: $small-font-size;
    font-weight: $base-font-weight;
    margin-left: 3px;
  }
}

// Tags
.tags > .label {
  > li:before {
    content: "";
  }

  > li {
    margin: 0;
    font-size: $small-font-size;
    font-weight: 400;
    display: inline;

    > a {
      display: inline-block;
      margin: 1px;
      color: $tag-index-label-color;
      background-color: $tag-index-label-background-color;
      border-radius: 3px;

      span {
        float: left;
        padding: .5px 5px;

        &.count {
          background-color: $tag-index-count-background-color;
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }
}

.tags > .tag {
  a {
    color: $base-color;
  }
  time {
    color: $base-lighten-color;
    font-size: $small-font-size;
    font-weight: $base-font-weight;
    margin-left: 3px;
  }
}

.whoami {
  font-weight: $light-font-weight;
  margin-top:75px;
  margin-top:50px;
}

// Footer
.wrapper-footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  padding: 0px 0;
  border-top: 1px solid $footer-border-color;

  .madeby {
    font-weight: $light-font-weight;
    font-size: $small-font-size;
  }

  p {
    font-weight: $base-font-weight;
    font-size: $small-font-size;
    color: $gray;
  }

  .svg-icon {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 10px;
    }

    svg {
      height: 30px;
      width: 30px;
    }

    em {
      font-size: 18px;
      line-height: 1.5;
      margin-top: -.75em;
      position: absolute;
      text-align: center;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

button {
  background-color: white;
  border: 0.7px solid $gray;
  color: $gray;
  font-size: $small-font-size;
  padding:8px;
  border-radius: 8px;
  font-weight: $light-font-weight;
  display: inline-block;
  padding-right: 10px;

  img {    
    vertical-align: bottom;    
    float:left;
    margin-right:5px; 
  }

}

.socials {

  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;

  .social {
    display: block;
    height: 40px;
    width: 40px;
  }

  .email {
    background: url(data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12.875%2012H27.875C28.9063%2012%2029.75%2012.8437%2029.75%2013.875V25.125C29.75%2026.1563%2028.9063%2027%2027.875%2027H12.875C11.8437%2027%2011%2026.1563%2011%2025.125V13.875C11%2012.8437%2011.8437%2012%2012.875%2012Z%22%20stroke%3D%22%23777777%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M29.75%2013.875L20.375%2020.4375L11%2013.875%22%20stroke%3D%22%23777777%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat center;
  }
  .linkedin {
    background: url(data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M12.3354%2010.0007C12.0314%209.99333%2011.729%2010.0469%2011.446%2010.1581C11.163%2010.2694%2010.9051%2010.4362%2010.6875%2010.6486C10.4699%2010.861%2010.297%2011.1148%2010.1789%2011.395C10.0608%2011.6753%2010%2011.9763%2010%2012.2804C10%2012.5845%2010.0608%2012.8855%2010.1789%2013.1658C10.297%2013.446%2010.4699%2013.6998%2010.6875%2013.9122C10.9051%2014.1246%2011.163%2014.2914%2011.446%2014.4027C11.729%2014.5139%2012.0314%2014.5675%2012.3354%2014.5601C12.9305%2014.5458%2013.4964%2014.2993%2013.9122%2013.8733C14.328%2013.4474%2014.5608%2012.8757%2014.5608%2012.2804C14.5608%2011.6851%2014.328%2011.1134%2013.9122%2010.6875C13.4964%2010.2615%2012.9305%2010.015%2012.3354%2010.0007ZM24.3145%2016.0526C22.4135%2016.0526%2021.1493%2017.0939%2020.6266%2018.0836H20.543V16.3431H16.8113V28.9457H20.7088V22.7266C20.7088%2021.0843%2021.0352%2019.4937%2023.0715%2019.4937C25.0773%2019.4937%2025.1038%2021.3483%2025.1038%2022.8102V28.9457H29V22.0222C29%2018.6341%2028.2783%2016.0526%2024.3145%2016.0526ZM10.4278%2016.3431V28.9457H14.3664V16.3431H10.4278Z%22%20fill%3D%22%23777777%22%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat center;
  }
  .twitter {
    background: url(data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M17.1614%2028C24.5548%2028%2028.5987%2021.8438%2028.5987%2016.5052C28.5987%2016.3304%2028.5987%2016.1563%2028.587%2015.983C29.3737%2015.4112%2030.0528%2014.703%2030.5925%2013.8919C29.8588%2014.2186%2029.0806%2014.4328%2028.2837%2014.5275C29.1228%2014.0226%2029.7509%2013.2285%2030.0509%2012.293C29.2619%2012.7636%2028.3986%2013.0952%2027.4984%2013.2736C26.2524%2011.942%2024.2725%2011.6161%2022.6689%2012.4786C21.0653%2013.3411%2020.2369%2015.1776%2020.6481%2016.9581C17.4161%2016.7953%2014.4048%2015.261%2012.3636%2012.7372C11.2967%2014.5831%2011.8417%2016.9446%2013.6081%2018.1301C12.9684%2018.1111%2012.3427%2017.9377%2011.7837%2017.6245C11.7837%2017.641%2011.7837%2017.6583%2011.7837%2017.6757C11.7842%2019.5988%2013.133%2021.2551%2015.0086%2021.6359C14.4168%2021.7981%2013.7959%2021.8218%2013.1936%2021.7052C13.7202%2023.3509%2015.2293%2024.4783%2016.949%2024.5108C15.5256%2025.6351%2013.7673%2026.2454%2011.9569%2026.2436C
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "onedark"
