 <p class="whoami">
 	<strong>👋 Howdy, I'm Daniel!</strong>. <br />I write apps while tinkering on the interwebs from beautiful Valencia 🇪🇸.</a>
	<p>Currently at <a href="https://duckduckgo.com/about">DuckDuckGo</a>, opinions are my own.</p>	
	<p>		
		<div class="socials">
			<a href="https://twitter.com/afterxleep" target="_blank" rel="noopener" class="social twitter" aria-label="Twitter"></a>
			<a rel="me" href="https://mastodon.social/@afterxleep" target="_blank" class="mastodon social" aria-label="Mastodon"></a>
			<a href="mailto:danielbernal@hey.com" target="_blank" rel="noopener" class="email social" aria-label="Email"></a>
			<a href="https://linkedin.com/in/danielbernalm" target="_blank" rel="noopener" class="linkedin social" aria-label="LinkedIn"></a>				
			<a href="https://github.com/afterxleep" target="_blank" rel="noopener" class="social" aria-label="Github"><img src="{{ site.baseurl }}/images/github-mark.png"</a>				
		</div>