
//
// VARIABLES
//

// Colors
$blue: #5694f1;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lato: 'Lato', sans-serif;
$merriweather: 'Merriweather', serif;
$georgia: Georgia, serif;

// Fonts
$base-font: $merriweather;
$code-font: 'Inconsolata', 'Menlo', 'Courier New', 'Monaco', monospace;

// Font sizes
$base-font-size: 18px;
$regular-font-size: 16px;
$small-font-size: 13px;
$very-small-font-size: 11px;
$line-height: 1.7em;
$header-line-height: 34px;
$header-line-height-mobile: 34px;
$code-font-size: 15px;
$base-font-weight: 350;
$light-font-weight: 300;

// Colors
$base-color: $black;
$base-lighten-color: $gray;

$text-color: $base-color;
$link-color: $oc-blue-8;
$divider-color: $oc-gray-1;

$table-border-color: $oc-gray-2;
$table-background-color: $oc-gray-1;

$blockquote-color: $base-lighten-color;
$blockquote-border-color: $oc-gray-3;
$blockquote-background-color: $oc-gray-0;

$footnote-link-border-color: $oc-gray-1;
$footnote-link-background-over-color: $oc-gray-1;

$selection-color: $oc-black;
$selection-background-color: $oc-gray-1;

$pagination-color: $oc-gray-6;
$pagination-over-color: $oc-gray-7;

$tag-index-label-color: $base-color;
$tag-index-label-background-color: $oc-gray-2;
$tag-index-count-background-color: $oc-gray-3;

$footer-border-color: $oc-gray-2;
$footer-background-color: $oc-gray-1;

// List
$li-bottom-space: 0.4em;
$li-bullets-width: 2em;
$li-line-height: 1.55;

$ul-bullets-font: inherit;
$ul-bullets-font-size: 1em;
$ul-bullets-font-line-height: 1.2;
$ul-bullets-right-space: .5em;

$ol-bullets-font: inherit;
$ol-bullets-font-size: 1em;
$ol-bullets-font-line-height: inherit;
$ol-bullets-right-space: .5em;

$li-child-size-ratio: 0.95;

$dt-width: 180px;
$dt-dd-space: 20px;
$dd-position: $dt-width+$dt-dd-space;



// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
