---
layout: default
---

<article class="post">
  <div>
    <span class="date">
      {{ page.date | date: "%b %d, %Y" }}<br>
    </span>

  <h1>{{ page.title }}</h1>
  {% if post.image != "" %}
  <div class="post-header-image">
    <img src="/assets/{{page.image}}" />
  </div>
  {% endif %}
  <div class="entry">
    {{ content }}
    {% if page.twitterlink %}
      {% include twitter.html %}
    {% endif %}
  </div>

  <div class="metadata">

      <!--
      <ul class="tag">
        {% for tag in page.tags %}
        <li>
          <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
            {{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>
      -->
    </div>
  </div>


  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            <button>< {{ page.previous.title }}</button>
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            <button>{{ page.next.title }} ></button>
          </a>
      </span>
    {% endif %}
  </div>

  
</article>
